.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact-banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.contact-banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-banner-text {
  width: 70%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
}

.map-and-address {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 80%;
  margin-bottom: 20px;
  padding-top: 2rem;
  flex-direction: row;
}

.map {
  width: 60%;
}

.address {
  width: 30%;
  padding: 10px;
}

.address p {
  text-align: justify;
}

.services {
  margin-top: 20px;
  text-align: center;
  width: 90%;
}

.services h2 {
  margin-left: 0;
  text-align: left;
}

.services ul {
  list-style-type: none;
  padding: 5px;
  text-align: left;
}

.services li {
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.services li:hover {
  background-color: white;
  border: 1px solid black;
}

.service-title {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.service-title h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 5px 0;
  margin-bottom: 0;
}

.arrow {
  display: inline-block;
  /* margin-right: 10px; */
  transition: transform 0.3s ease;
}

.arrow.right {
  /* transform: rotate(0deg); */
}

.arrow.down {
  transform: rotate(0deg);
}

.service-details {
  width: fit-content;
  margin-top: 10px;
  text-align: left;
}

.service-details p {
  margin-bottom: 0;
}

.service-details ul {
  list-style-type: disc;
  padding-left: 2rem;
}

.service-details ul li {
  border: none;
  margin: 0;
  background-color: transparent;
}

.service-details ul li:hover {
  background-color: white;
  border: none !important;
}

.leaflet-control-attribution,
.leaflet-control .leaflet-bottom .leaflet-right {
  display: none !important;
}

.ol-attribution {
  display: none !important;
}

.feedback-form {
  width: 90%;
  max-width: 600px;
  margin-top: 20px;
  align-self: flex-start;
  padding: 0 5rem;
}

.feedback-form h2 {
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group textarea {
  height: 150px;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .contact-banner-text {
    width: 80%;
    font-size: 35px;
  }

  .map-and-address {
    flex-direction: column;
    align-items: center;
  }

  .map,
  .address {
    width: 100%;
  }

  .address {
    padding: 20px;
  }
}

@media (max-width: 992px) {
  .contact-banner-text {
    width: 90%;
    font-size: 28px;
  }

  .map-and-address {
    padding-top: 1.5rem;
  }

  .map,
  .address {
    width: 100%;
  }

  .address {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .contact-banner {
    height: 50vh; /* Adjust the height for mobile screens */
  }

  .contact-banner-text {
    width: 95%;
    font-size: 24px;
    padding: 5px 10px;
  }

  .map-and-address {
    flex-direction: column-reverse;
    align-items: center;
  }

  .map {
    margin: 0;
    padding: 0;
  }

  .map,
  .address {
    width: 100%;
  }

  .address {
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .contact-banner {
    height: 100vh;
  }

  .contact-banner-text {
    font-size: 22px;
    /* margin-top: 50%; */
  }

  .feedback-form {
    padding: 0 1rem;
  }
}
